[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/freshpink"]
	path = themes/freshpink
	url = git@github.com:ElecBrandy/freshpink.git
